html,body{
    margin:0px;
}
body{
    background-color:#39364d;
}
.myService{
    color:white;
    font-size:50px;
    margin-top:30px;
}
.subTitle{
    color:#635e86;
    font-size:14px;
    margin-top:20px;
}
.icon_img{
    width:20px;
    display:absolute;
}
.icon{
    width: 30px;
    display: inline-block;
    position: relative;
    top: 4px;
}
.input-form{
    width:200px;
    display:inline-block;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9b96b6;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9b96b6;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:  #9b96b6;
}
input{
    background-color:#39364d;
    border:none;
    outline:none;
    color:#9b96b6;
}
.line{
    width:300px;
    height:45px;
    border-radius:20px;
    border:1px solid #9b96b6;
    margin-top:20px;
    line-height:45px;
}
.signup-button{
    background: #ed475a; /* For browsers that do not support gradients */
    background: linear-gradient(to right,#ed475a,#ea7834);
    width:300px;
    height:45px;
    border-radius:20px;
    margin-top:20px;
    margin-bottom:20px;
    color:white;
    line-height:45px;
    font-size:14px;
}
.foreign_check{
    width:100%;
    height:60px;
    margin-top: 20px;
    position: relative;
    bottom: 10px;
}
.img_one{
    width:60px;
    height:60px;
    display:inline-block;
    background-color: #39364d;
    border-radius: 60px;
    margin-right: 10px;
}
.check_img{
    width:50px;
    position:relative;
    top:5px;
}
.img_tag{
    display:inline;
    background-color:white;
    border-radius:15px;
    font-size:12px;
    padding:3px;
}

/** Custom Select **/
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
  }
    .custom-select-wrapper select {
      display: none;
    }
    .custom-select {
      position: relative;
      display: inline-block;
    }
      .custom-select-trigger {
        position: relative;
        display: block;
        width: 115px;
        padding: 0 84px 0 22px;
        font-size: 22px;
        font-weight: 300;
        color: #fff;
        line-height: 60px;
        background: #5c9cd8;
        border-radius: 4px;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        background-color: #39364d;
        color:#9b96b6;
        font-size:14px;
        text-align: left;
      }
        .custom-select-trigger:after {
          position: absolute;
          display: block;
          content: '';
          width: 10px; height: 10px;
          top: 50%; right: 25px;
          margin-top: -3px;
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;
          transform: rotate(45deg) translateY(-50%);
          transition: all .4s ease-in-out;
          transform-origin: 50% 0;
        }
        .custom-select.opened .custom-select-trigger:after {
          margin-top: 3px;
          transform: rotate(-135deg) translateY(-50%);
        }
    .custom-options {
      position: absolute;
      display: block;
      top: 100%; left: 0; right: 0;
      min-width: 100%;
      margin: 15px 0;
      border: 1px solid #b5b5b5;
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow: 0 2px 1px rgba(0,0,0,.07);
      background: #fff;
      transition: all .4s ease-in-out;
      
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-15px);
      font-size:14px;
      top: 100%;
        left: 25%;
        right: 0;
        min-width: 75%;
    }
    .custom-select.opened .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }
      .custom-options:before {
        position: absolute;
        display: block;
        content: '';
        bottom: 100%; right: 25px;
        width: 7px; height: 7px;
        margin-bottom: -4px;
        border-top: 1px solid #b5b5b5;
        border-left: 1px solid #b5b5b5;
        background: #fff;
        transform: rotate(45deg);
        transition: all .4s ease-in-out;
      }
      .option-hover:before {
        background: #f9f9f9;
      }
      .custom-option {
        position: relative;
        display: block;
        padding: 0 22px;
        border-bottom: 1px solid #b5b5b5;
        font-size: 18px;
        font-weight: 600;
        color: #b5b5b5;
        line-height: 47px;
        cursor: pointer;
        transition: all .4s ease-in-out;
      }
      .custom-option:first-of-type {
        border-radius: 4px 4px 0 0;
      }
      .custom-option:last-of-type {
        border-bottom: 0;
        border-radius: 0 0 4px 4px;
      }
      .custom-option:hover,
      .custom-option.selection {
        background: #f9f9f9;
      }